# Reflect current maintainers allowed to approve pull requests that touch the .github
# and test/e2e repos. This is the TriggerMesh engineering team

/.github/	@triggermesh/engineering
/test/e2e/	@triggermesh/engineering
