# Copyright 2020-2021 TriggerMesh Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: triggermesh-controller
rules:

# Record Kubernetes events
- apiGroups:
  - ''
  resources:
  - events
  verbs:
  - create
  - patch
  - update

# Manage receive-adapters
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
  - patch
- apiGroups:
  - serving.knative.dev
  resources:
  - services
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
  - patch

# Read Source resources and update their statuses
- apiGroups:
  - sources.triggermesh.io
  resources:
  - awscloudwatchlogssources
  - awscloudwatchsources
  - awscodecommitsources
  - awscognitoidentitysources
  - awscognitouserpoolsources
  - awsdynamodbsources
  - awskinesissources
  - awsperformanceinsightssources
  - awss3sources
  - awssnssources
  - awssqssources
  - httppollersources
  - slacksources
  - webhooksources
  - zendesksources
  verbs:
  - list
  - watch
  - get
- apiGroups:
  - sources.triggermesh.io
  resources:
  - awscloudwatchlogssources/status
  - awscloudwatchsources/status
  - awscodecommitsources/status
  - awscognitoidentitysources/status
  - awscognitouserpoolsources/status
  - awsdynamodbsources/status
  - awskinesissources/status
  - awsperformanceinsightssources/status
  - awss3sources/status
  - awssnssources/status
  - awssqssources/status
  - httppollersources/status
  - slacksources/status
  - webhooksources/status
  - zendesksources/status
  verbs:
  - update

# Read Target resources and update their statuses
- apiGroups:
  - targets.triggermesh.io
  resources:
  - alibabaosstargets
  - awscomprehendtargets
  - awsdynamodbtargets
  - awskinesistargets
  - awslambdatargets
  - awss3targets
  - awssnstargets
  - awssqstargets
  - confluenttargets
  - datadogtargets
  - elasticsearchtargets
  - googlecloudworkflowstargets
  - googlesheettargets
  - googlecloudfirestoretargets
  - googlecloudstoragetargets
  - hasuratargets
  - httptargets
  - infratargets
  - jiratargets
  - logztargets
  - oracletargets
  - salesforcetargets
  - sendgridtargets
  - slacktargets
  - splunktargets
  - tektontargets
  - twiliotargets
  - uipathtargets
  - zendesktargets
  verbs:
  - list
  - watch
  - get
- apiGroups:
  - targets.triggermesh.io
  resources:
  - alibabaosstargets/status
  - awscomprehendtargets/status
  - awsdynamodbtargets/status
  - awskinesistargets/status
  - awslambdatargets/status
  - awss3targets/status
  - awssnstargets/status
  - awssqstargets/status
  - confluenttargets/status
  - datadogtargets/status
  - elasticsearchtargets/status
  - googlesheettargets/status
  - googlecloudfirestoretargets/status
  - googlecloudstoragetargets/status
  - googlecloudworkflowstargets/status
  - hasuratargets/status
  - httptargets/status
  - infratargets/status
  - jiratargets/status
  - logztargets/status
  - oracletargets/status
  - salesforcetargets/status
  - sendgridtargets/status
  - slacktargets/status
  - splunktargets/status
  - tektontargets/status
  - twiliotargets/status
  - uipathtargets/status
  - zendesktargets/status
  verbs:
  - update

# Ensure compatibility with the OwnerReferencesPermissionEnforcement Admission Controller
# https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#ownerreferencespermissionenforcement
- apiGroups:
  - sources.triggermesh.io
  resources:
  - awscloudwatchlogssources/finalizers
  - awscloudwatchsources/finalizers
  - awscodecommitsources/finalizers
  - awscognitoidentitysources/finalizers
  - awscognitouserpoolsources/finalizers
  - awsdynamodbsources/finalizers
  - awskinesissources/finalizers
  - awsperformanceinsightssources/finalizers
  - awss3sources/finalizers
  - awssnssources/finalizers
  - awssqssources/finalizers
  - httppollersources/finalizers
  - slacksources/finalizers
  - webhooksources/finalizers
  - zendesksources/finalizers
  verbs:
  - update

# Set finalizers
- apiGroups:
  - sources.triggermesh.io
  resources:
  - awss3sources
  - awssnssources
  - zendesksources
  verbs:
  - patch

# Manage resource-specific ServiceAccounts and RoleBindings
- apiGroups:
  - ''
  resources:
  - serviceaccounts
  verbs:
  - list
  - watch
  - create
- apiGroups:
  - ''
  resources:
  - serviceaccounts
  resourceNames:
  - awscloudwatchlogssource-adapter
  - awscloudwatchsource-adapter
  - awscodecommitsource-adapter
  - awscognitoidentitysource-adapter
  - awscognitouserpoolsource-adapter
  - awsdynamodbsource-adapter
  - awskinesissource-adapter
  - awsperformanceinsightssource-adapter
  - awss3source-adapter
  - awssnssource-adapter
  - awssqssource-adapter
  - httppollersource-adapter
  - slacksource-adapter
  - webhooksource-adapter
  - zendesksource-adapter
  - tektontarget-adapter
  verbs:
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - list
  - watch
  - create
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  resourceNames:
  - awscloudwatchlogssource-adapter
  - awscloudwatchsource-adapter
  - awscodecommitsource-adapter
  - awscognitoidentitysource-adapter
  - awscognitouserpoolsource-adapter
  - awsdynamodbsource-adapter
  - awskinesissource-adapter
  - awsperformanceinsightssource-adapter
  - awss3source-adapter
  - awssnssource-adapter
  - awssqssource-adapter
  - httppollersource-adapter
  - slacksource-adapter
  - webhooksource-adapter
  - zendesksource-adapter
  - tektontarget-adapter
  verbs:
  - update

# List namespaces
# Required by the TektonTarget reaper.
- apiGroups:
  - ''
  resources:
  - namespaces
  verbs:
  - list

# Read credentials
- apiGroups:
  - ''
  resources:
  - secrets
  verbs:
  - get

# Read controller configurations
- apiGroups:
  - ''
  resources:
  - configmaps
  verbs:
  - list
  - watch
- apiGroups:
  - ''
  resources:
  - configmaps
  resourceNames:
  - config-logging
  - config-observability
  - config-leader-election
  verbs:
  - get

# Acquire leases for leader election
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - create
  - update

# Determine the exact reason why Deployments fail
- apiGroups:
  - ''
  resources:
  - pods
  verbs:
  - list

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: awssnssource-adapter
rules:

# Record Kubernetes events
- apiGroups:
  - ''
  resources:
  - events
  verbs:
  - create
  - patch
  - update

# Read Source resources and update their statuses
- apiGroups:
  - sources.triggermesh.io
  resources:
  - awssnssources
  verbs:
  - list
  - watch
- apiGroups:
  - sources.triggermesh.io
  resources:
  - awssnssources/status
  verbs:
  - patch

# Read credentials
- apiGroups:
  - ''
  resources:
  - secrets
  verbs:
  - get

# Acquire leases for leader election
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - create
  - update

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: zendesksource-adapter
rules:

# Record Kubernetes events
- apiGroups:
  - ''
  resources:
  - events
  verbs:
  - create
  - patch
  - update

# Read Source resources
- apiGroups:
  - sources.triggermesh.io
  resources:
  - zendesksources
  verbs:
  - list
  - watch

# Read credentials
- apiGroups:
  - ''
  resources:
  - secrets
  verbs:
  - get

# Acquire leases for leader election
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - create
  - update

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: tektontarget-adapter
rules:
- apiGroups:
  - tekton.dev
  resources:
  - taskruns
  - pipelineruns
  verbs:
  - create
  - list
  - delete

---

# This role provides readonly access to "Source" duck types.
# All the rules it contains get aggregated into the "source-observer" ClusterRole provided by Knative Eventing.
# see https://github.com/knative/eventing/blob/release-0.26/docs/spec/sources.md#source-rbac
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: triggermesh-source-observer
  labels:
    duck.knative.dev/source: 'true'
rules:
- apiGroups:
  - sources.triggermesh.io
  resources:
  - awscloudwatchlogssources
  - awscloudwatchsources
  - awscodecommitsources
  - awscognitoidentitysources
  - awscognitouserpoolsources
  - awsdynamodbsources
  - awskinesissources
  - awsperformanceinsightssources
  - awss3sources
  - awssnssources
  - awssqssources
  - httppollersources
  - slacksources
  - webhooksources
  - zendesksources
  verbs:
  - get
  - list
  - watch

---

# This role provides readonly access to "Addressable" duck types.
# All the rules it contains get aggregated into the "addressable-resolver" ClusterRole provided by Knative Eventing.
# https://github.com/knative/eventing/blob/release-0.26/config/core/roles/addressable-resolvers-clusterrole.yaml#L15-L28
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: triggermesh-addressable-resolver
  labels:
    duck.knative.dev/addressable: 'true'
rules:
- apiGroups:
  - targets.triggermesh.io
  resources:
  - alibabaosstargets
  - awscomprehendtargets
  - awsdynamodbtargets
  - awskinesistargets
  - awslambdatargets
  - awss3targets
  - awssnstargets
  - awssqstargets
  - confluenttargets
  - datadogtargets
  - elasticsearchtargets
  - googlesheettargets
  - googlecloudfirestoretargets
  - googlecloudstoragetargets
  - googlecloudworkflowstargets
  - hasuratargets
  - httptargets
  - infratargets
  - jiratargets
  - logztargets
  - salesforcetargets
  - oracletargets
  - sendgridtargets
  - slacktargets
  - splunktargets
  - tektontargets
  - twiliotargets
  - uipathtargets
  - zendesktargets
  verbs:
  - get
  - list
  - watch
