name: End-to-End Testing

on:
  push:
    # NOTE(antoineco): To avoid exposing repository secrets to user supplied
    # code in pull requests, we only allow this workflow to run on the 'main'
    # branch, where all code changes are expected to have been reviewed by
    # maintainers.
    #
    # We may want to relax this in the future, on condition that safeguards are
    # added to prevent the workflow from running automatically when an external
    # contributor submits code changes inside the .github/workflows/ or
    # test/e2e/ directories.
    #
    # Ref. https://securitylab.github.com/research/github-actions-preventing-pwn-requests/
    branches: [ main ]

jobs:

  e2e-triggermesh:
    name: Test TriggerMesh components
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.17'

    - name: Go caches
      uses: actions/cache@v2
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ github.job }}-${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ github.job }}-${{ runner.os }}-go-

    - name: KinD Cluster
      uses: container-tools/kind-action@v1
      with:
        knative_serving: v1.0.0
        knative_kourier: v1.0.0
        # ko loads images directly into KinD's container runtime when
        # KO_DOCKER_REPO is set to the rogue value "kind.local", so we have no
        # use for a container registry.
        registry: 'false'

    - name: Read KinD network subnet
      id: kind-subnet
      run: |
        kind_subnet_prefix="$(\
          docker network inspect kind -f '{{ (index .IPAM.Config 0).Subnet }}' | cut -d'.' -f'1,2'\
        )"

        echo "Subnet prefix of 'kind' network: ${kind_subnet_prefix}"
        echo "::set-output name=prefix::${kind_subnet_prefix}"

    - name: MetalLB load-balancer
      # Based on https://kind.sigs.k8s.io/docs/user/loadbalancer/
      run: |
        kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.11.0/manifests/namespace.yaml
        kubectl create secret generic -n metallb-system memberlist --from-literal=secretkey="$(openssl rand -base64 128)"
        kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.11.0/manifests/metallb.yaml
        kubectl -n metallb-system wait --timeout=1m --for=condition=Available deployments.apps/controller

        cat <<'EOM' | kubectl create -f-
        apiVersion: v1
        kind: ConfigMap
        metadata:
          namespace: metallb-system
          name: config
        data:
          config: |
            address-pools:
            - name: default
              protocol: layer2
              addresses:
              - ${{ steps.kind-subnet.outputs.prefix }}.255.200-${{ steps.kind-subnet.outputs.prefix }}.255.250
        EOM

    - name: Knative default domain
      # Sets a magic default Knative domain that resolves to <gateway-ip>.sslip.io
      run: |
        kubectl create -f https://github.com/knative/serving/releases/download/knative-v1.0.0/serving-default-domain.yaml
        kubectl -n knative-serving wait --timeout=1m --for=condition=Complete jobs.batch/default-domain

    - name: Install ko
      run: go install github.com/google/ko@v0.9.3

    - name: Deploy TriggerMesh
      env:
        KO_DOCKER_REPO: kind.local
      run: |
        ko apply -f ./config/namespace/
        ko apply -f ./config/
        kubectl -n triggermesh wait --timeout=1m --for=condition=Available deployments.apps/triggermesh-controller
        kubectl -n triggermesh wait --timeout=1m --for=condition=Available deployments.apps/triggermesh-webhook

    - name: Install Ginkgo
      run: go install github.com/onsi/ginkgo/v2/ginkgo

    - name: Export KUBECONFIG path
      run: echo "KUBECONFIG=${HOME}/.kube/config" >> $GITHUB_ENV

    - name: Run e2e tests
      env:
        AWS_REGION: ${{ secrets.AWS_REGION }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        GCLOUD_PROJECT: ${{ secrets.GCLOUD_PROJECT }}
        GCLOUD_SERVICEACCOUNT_KEY: ${{ secrets.GCLOUD_SERVICEACCOUNT_KEY }}
        AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      run: ginkgo -procs=$(($(nproc)*2)) -slow-spec-threshold=10m -randomize-all ./test/e2e/

    # The KinD cluster can get shut down before all API objects created during
    # E2E tests have been terminated, which leaks cloud resources depending on
    # what test(s) are run last by Ginkgo.
    # To prevent that, we delay the completion of the job until all namespaces
    # labeled "e2e-framework" have been finalized.
    - name: Wait for termination of E2E namespaces
      if: always()
      run: |
        declare -i e2e_ns_count=-1

        # retry for max 120s (60*2s)
        for _ in $(seq 1 60); do
            e2e_ns_count="$(kubectl get ns -l e2e-framework -o jsonpath='{.items}' | jq '. | length')"
            if ! ((e2e_ns_count)); then
                break
            fi

            echo -n '.' >&2
            sleep 2
        done

        # flush stderr
        echo >&2
